* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Fira Sans Nerd Font;
    border-radius: 0;
    font-size: 14px;
    border: none;
    min-height: 0;
    
}

@import url("../../.cache/wal/colors-waybar.css");


window#waybar {
    background: @color0;
}
  #workspaces button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    color: @color2;
  }
  #workspaces button.focused {
  color: @color1;

}
  #mode {
  color: @color2;
}
  #window {
  color: @color3;
}
  #clock {
  color: @color6;
  padding: 0 7px;
  padding-right: 15px;
} 
  #battery {
  color: @color5;
  padding: 0 7px;
}
  #pulseaudio {
  color: @color6;
  padding: 0 7px;
}
  #memory {
  color: @color2;
  padding: 0 7px;
}
  #cpu {
  color: @color5;
  padding: 0 7px;
}
